cloud_id                 = "g4g4g4g44g4g"
folder_id                = "4g4g4g4g4g4g"
zone                     = "ru-central1-a"
image_id                 = "5g5g5g5g5g"
public_key_path          = "../appuser.pub"
subnet_id                = "4g4g4g4g4g4g4"
service_account_key_file = "../appuser.json"
privat_key_path          = "../appuser"
app_disk_image           = "43f34f34f34"
db_disk_image            = "34t3434f34f"
